# Godot 4+ specific ignores
.godot/

# Ignore library files but not the gdextension file
.sconsign*.dblite

# Ignore custom.py
custom.py

# Ignore generated compile_commands.json
compile_commands.json

# Binaries
*.o
*.os
*.so
*.obj
*.bc
*.pyc
*.dblite
*.pdb
*.lib
*.config
*.creator
*.creator.user
*.files
*.includes
*.idb
*.exp

# Other stuff
*.log

#ignode external dependencies
ext/
bin/

# ignore configured files
src/configure.h

# VSCode
.vscode/

# Jetbrains clion
.idea/
test/project/gdextension/
